.cart {
  .cart-tools {
    display: flex;
    justify-content: end;
    &-button {
      display: flex;
      justify-content: end;

        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
          width: 100px;
        }

      .counter {
        position: absolute;
        margin-top: 20px;
        margin-right: 20px;
        background-color: #f0c054;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        p {
          margin: 3px 0 0 0;
        }
      }
    }
  }
  
  &-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      background-color: white;
      height: 100vh;
      &-close-button {
        width: 100%;
        display: flex;
        justify-content: end;
        button {
          font-size: xx-large;
          margin: 1rem 1rem 0 0;
          cursor: pointer;
          background-color: transparent;
          border: none;
        }
      }
      &-list {
        width: 100%;
        padding: 1rem 0;
        &-item {
          border: 1px solid black;
          padding: 0 1rem;
          margin: 0 1rem 1rem 1rem;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .cart {
    &-wrapper {
      &-content {
        width: 50%;
      }
    }
  }
}

@media (max-width: 465px) {
  .cart {
    &-wrapper {
      &-content {
        width: 90%;
      }
    }
  }
}