.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-item {
    &.inactive {
      display: none;
    }
    
  }
  &-activity-indicator-collection {
    display: flex;
    gap: 1rem;
    &-item {
      &.active {
        background-color: black;
      }
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #d3d3d3;
      border: 1px solid black;
      &:hover {
        background-color: none;
      }
    }
  }
  &-line {
    border: 0.25px solid #d3d3d3;
    width: 100%;
    
  }
  &-buttons {
    gap: 1rem;
    display: flex;  
  }
}

@media (max-width: 612px) {
  .carousel {
    &-item {
      &-image {
        max-width: 450px;
      }
    }
  }
}

@media (max-width: 465px) {
  .carousel {
    &-item {
      &-image {
        max-width: 325px;
      }
    }
    &-buttons {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
