.suppliers {
  display: flex;
  justify-content: center ;
  &-list {
    &-label {
      font-weight: 700;
    }
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem;
  }
  &-error-container {
    p {
      color: red;
    }
  }
}