.App {
  border: 1px solid black;
  padding: 1rem;
  margin: 5%;
  &-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &-container {
      padding: 2rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-description {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-container-title {
      font-weight: 700;
      margin: 0;
    }
    &-container-content {
      margin: 0;
    }
    &-container-price {
      p {
        margin: 0;
        font-size: xxx-large;
        font-weight: 700;
      }
    } 
  }
  &-button-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .add-to-cart {
      width: 85%;
      max-width: 500px;
    }
  }
}

@media (max-width: 360px) { 
  .App {
    &-button-container {
      .add-to-cart {
        width: 100%;
      }
    }
  }
}